/* Existing CSS */
.navbar {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
}

.navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar li {
    margin: 30px 20px;
    cursor: pointer;
    font-size: 22px;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navbar li:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(100, 96, 96);
    color: rgb(100, 96, 96);
}

.logout {
    position: absolute;
    right: 0;
}

.logout-btn {
    background: none;
    padding: 6px 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

/* Additions for mobile responsiveness */
@media (max-width: 768px) {
    .hamburger {
        font-size: 24px;
        margin-left: 5px;
    }
    
    .navbar{
        flex-direction: column;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar li {
        margin: 15px 10px;
        font-size: 18px;
    }

    .navbar {
        padding: 0;
    }

    hr{
        width: 100%;
    }

}
